<%= image_tag @politician.image, style: 'width:50%' %>
<h1><%= @politician.name %></h1>

<ul>
  <li>Political Affiliation: <%= @politician.registered %></li>
  <li>Title: <%= @politician.office %></li>
  <li>Biography: <%= @politician.bio %></li>
</ul>
<h2>Causes</h2>

<ul>
  <% @politician.policies.each do |policy| %>
  <li><%= policy.name %></li>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium
    reprehenderit ullam illo aperiam tempora quaerat.
  </p>
  <% end %>
</ul>

<h2>Contributions: $<%= @politician.sum %></h2>
